In [2]:
import numpy as np
import pandas as pd

In [3]:
Month = ['Jan','Feb','March','April','May','June','July','Aug','Sept','Oct','Nov','Dec']
numbers_of_date = np.arange(1,31)
np.random.seed(10)
score = np.random.randint(5000,500000,360)
score = score.reshape(30,12)

numbers_day= pd.DataFrame(data = score,index=numbers_of_date,columns=Month)
numbers_day

,Jan,Feb,March,April,May,June,July,Aug,Sept,Oct,Nov,Dec
1,350353,241669,361879,448712,98553,110595,14372,408417,304741,285048,113445,283385
2,441218,145296,276433,191624,232818,361392,474494,250156,445691,108952,320748,185463
3,56595,465854,303328,12290,431558,430505,329808,226028,30550,84537,217659,475070
4,426965,479565,279445,405115,349473,186630,218645,172772,268510,66214,265766,144353
5,237076,241865,396711,36545,334508,54435,33178,209893,377813,326942,208671,302566
6,179840,25875,346660,413650,100448,340241,27543,221594,180568,218622,403407,319712
7,297235,72217,96566,202767,290387,30372,437929,199004,319106,479976,413024,152500
8,171533,351116,392143,372960,43744,211642,276724,340030,113834,480496,315031,429792
9,56855,319365,211982,333950,286173,265842,196126,129427,437752,353940,446052,206184
10,324550,334206,216129,29561,412119,318708,250992,139698,417397,355521,304755,57018
11,56757,363312,492385,380497,422445,478728,22298,85407,104843,351909,176792,233692
12,137434,231928,119190,475067,186327,192635,214681,230970,466877,87841,76022,111416
13,149618,44697,33064,422105,143985,249777,35810,197780,31098,128166,45145,472345
14,112516,172056,183304,255527,485613,42065,293704,391804,263428,44334,40582,365982
15,205288,49866,126923,361798,454631,337131,153562,105414,320126,317909,185730,477427
16,260024,162045,469861,289397,234835,449401,133627,426334,434477,311955,157469,97767
17,475699,54112,360040,227949,348113,452144,434413,233779,295539,386274,421392,422493
18,367824,415012,465031,403189,307622,411651,350049,475681,207958,332121,26717,25414
19,26517,57905,65321,155020,274015,194790,208292,46511,140515,189423,304785,370831
20,369694,236456,41611,88124,470868,240204,142374,297294,317302,419072,226044,257234
21,482321,171146,164681,117122,326521,61294,230907,16754,194069,98643,337212,370189
22,220261,224119,386268,12088,279366,285362,493098,379952,279478,297768,432511,206054
23,106462,194626,389453,147712,52122,137530,123256,43444,82185,150727,38643,73301
24,168346,388899,378331,475693,353615,417120,71663,460311,226239,187150,393908,28561
25,441018,134024,212404,281804,256150,93557,402429,289036,177934,85938,239697,90548
26,230648,275075,142188,495970,7854,445724,191249,361904,230936,27859,254255,357570
27,66649,199087,269753,443399,373609,490771,129110,195826,40663,450973,488781,451896
28,24258,307477,231664,17803,489556,497689,63269,152909,240186,301499,66076,203661
29,206975,469748,427598,205893,76912,484120,82822,196178,267788,272158,56987,454109
30,114257,471211,44544,388267,471032,43155,44465,190363,144561,94041,126533,48402

In [5]:
mean= [np.mean(numbers_day["Jan"]), np.mean(numbers_day["Feb"]),np.mean(numbers_day["May"]),np.mean(numbers_day["Aug"]), np.mean(numbers_day["Sept"])]
mean

[225492.86666666667,
 243327.63333333333,
 286499.06666666665,
 235822.33333333334,
 245405.46666666667]

In [6]:

numbers_day.loc['Max'] = pd.DataFrame.max(numbers_day[["Jan","Feb","March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"]])

In [7]:
numbers_day

,Jan,Feb,March,April,May,June,July,Aug,Sept,Oct,Nov,Dec
1,350353,241669,361879,448712,98553,110595,14372,408417,304741,285048,113445,283385
2,441218,145296,276433,191624,232818,361392,474494,250156,445691,108952,320748,185463
3,56595,465854,303328,12290,431558,430505,329808,226028,30550,84537,217659,475070
4,426965,479565,279445,405115,349473,186630,218645,172772,268510,66214,265766,144353
5,237076,241865,396711,36545,334508,54435,33178,209893,377813,326942,208671,302566
6,179840,25875,346660,413650,100448,340241,27543,221594,180568,218622,403407,319712
7,297235,72217,96566,202767,290387,30372,437929,199004,319106,479976,413024,152500
8,171533,351116,392143,372960,43744,211642,276724,340030,113834,480496,315031,429792
9,56855,319365,211982,333950,286173,265842,196126,129427,437752,353940,446052,206184
10,324550,334206,216129,29561,412119,318708,250992,139698,417397,355521,304755,57018
11,56757,363312,492385,380497,422445,478728,22298,85407,104843,351909,176792,233692
12,137434,231928,119190,475067,186327,192635,214681,230970,466877,87841,76022,111416
13,149618,44697,33064,422105,143985,249777,35810,197780,31098,128166,45145,472345
14,112516,172056,183304,255527,485613,42065,293704,391804,263428,44334,40582,365982
15,205288,49866,126923,361798,454631,337131,153562,105414,320126,317909,185730,477427
16,260024,162045,469861,289397,234835,449401,133627,426334,434477,311955,157469,97767
17,475699,54112,360040,227949,348113,452144,434413,233779,295539,386274,421392,422493
18,367824,415012,465031,403189,307622,411651,350049,475681,207958,332121,26717,25414
19,26517,57905,65321,155020,274015,194790,208292,46511,140515,189423,304785,370831
20,369694,236456,41611,88124,470868,240204,142374,297294,317302,419072,226044,257234
21,482321,171146,164681,117122,326521,61294,230907,16754,194069,98643,337212,370189
22,220261,224119,386268,12088,279366,285362,493098,379952,279478,297768,432511,206054
23,106462,194626,389453,147712,52122,137530,123256,43444,82185,150727,38643,73301
24,168346,388899,378331,475693,353615,417120,71663,460311,226239,187150,393908,28561
25,441018,134024,212404,281804,256150,93557,402429,289036,177934,85938,239697,90548
26,230648,275075,142188,495970,7854,445724,191249,361904,230936,27859,254255,357570
27,66649,199087,269753,443399,373609,490771,129110,195826,40663,450973,488781,451896
28,24258,307477,231664,17803,489556,497689,63269,152909,240186,301499,66076,203661
29,206975,469748,427598,205893,76912,484120,82822,196178,267788,272158,56987,454109
30,114257,471211,44544,388267,471032,43155,44465,190363,144561,94041,126533,48402
Max,482321,479565,492385,495970,489556,497689,493098,475681,466877,480496,488781,477427

In [8]:
np.percentile(numbers_day["Feb"],20)

134024.0

In [4]:
np.percentile(numbers_day["June"],50)

275602.0

In [5]:
np.percentile(numbers_day["Dec"],75)

370670.5

In [6]:
numbers_day['June'] - numbers_day['July']

1      96223
2    -113102
3     100697
4     -32015
5      21257
6     312698
7    -407557
8     -65082
9      69716
10     67716
11    456430
12    -22046
13    213967
14   -251639
15    183569
16    315774
17     17731
18     61602
19    -13502
20     97830
21   -169613
22   -207736
23     14274
24    345457
25   -308872
26    254475
27    361661
28    434420
29    401298
30     -1310
dtype: int32